%% -*- erlang -*-
{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [{post, [{compile, {appup, compile}},
                          {compile, {default, escriptize}},
                          {clean, {appup, clean}}]}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/typer\" ./typer"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ typer* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{escript_incl_apps,[typer]}.
{escript_main_app, typer}.
{escript_name, typer}.
